@model TalkFusion.Models.Category

@{
    ViewBag.Title = "Add a new Category";
}
<div class="text-center">
    <h1>@ViewBag.Title</h1>
</div>

<br />
@Html.ValidationSummary(false, "", new { @class = "text-danger" })
<br />

<div class="card">
    <div class="card-body">

        @using (Html.BeginForm(actionName: "New",
        controllerName: "Categories",
        method: FormMethod.Post))
        {
            @Html.Label("CategoryName","Category Name:")

            <br />

            @Html.TextBox("CategoryName",null,new {@class="form-control"})
            @Html.ValidationMessage("CategoryName", null, new { @class = "text-danger" })
            <br />
            <br />

            <div class="text-center">
                <button style="width:30%;" class="btn btn-success" type="submit">Add new category</button>
            </div>

            <br />
        }

    </div>
</div>


