@model TalkFusion.Models.Category

@{
    ViewBag.Title = "Add a new Category";
}
<div class="text-center TF_text">
    <h1>@ViewBag.Title</h1>
</div>

<br />
@Html.ValidationSummary(false, "", new { @class = "text-danger" })
<br />

<div class="container text-center mt-5">
    <div class="d-flex justify-content-center flex-column">

        @using (Html.BeginForm(actionName: "New",
        controllerName: "Categories",
        method: FormMethod.Post, new { @class = "TF_container mx-auto" }))
        {
            @Html.Label("CategoryName","Category Name:",new { @class = "TF_text" })

            <br />
            <br />

            @Html.TextBox("CategoryName",null,new {@class="form-control TF_input_bar"})
            @Html.ValidationMessage("CategoryName", null, new { @class = "text-danger" })
            <br />
            <br />

            <div class="text-center">
                <button style="width:30%;" class="btn btn-dark TF_submit_btn" type="submit">Add new category</button>
            </div>

            <br />
        }

    </div>
</div>


