@{
    ViewBag.pageTitle = "Edit a group";
}

@model TalkFusion.Models.Group

<h1 class="text-center TF_text">@ViewBag.pageTitle</h1>

<br />
@Html.ValidationSummary(false, "", new { @class = "text-danger" })
<br />

<div class="container text-center mt-5">
    <div class="d-flex justify-content-center flex-column">

        @using (Html.BeginForm(actionName: "Edit",
        controllerName: "Groups",
        method: FormMethod.Post,
        new { @class = "TF_container mx-auto" }))
        {
            @Html.HiddenFor(model => model.Id)

            @Html.Label("Title","Group title",new { @class = "TF_text" })
            <br />
            <br />
            @Html.EditorFor(group=>group.Title, new{htmlAttributes = new{ @class="form-control TF_input_bar"}})
            @Html.ValidationMessage("Title", null, new { @class = "text-danger" })

            <br />

            <br />

            @Html.Label("Description","Group description", new { @class = "TF_text" })
            <br />
            <br />
            @Html.TextAreaFor(group=>group.Description,new{@class="form-control TF_input_bar", value=Model.Description})
            @Html.ValidationMessage("Description", null, new { @class = "text-danger" })

            <br />

            <br />

            @Html.Label("Category","Choose group category", new { @class = "TF_text" })
            <br />
            <br />
            @Html.DropDownListFor(m=>m.CategoryId,
            new SelectList(Model.AllCategories, "Value", "Text"),
            "Select Category",
            new{@class="form-control TF_input_bar"}
            )
            @Html.ValidationMessageFor(m => m.CategoryId, null, new { @class = "text-danger" })


            <br />
            <br />

            <div class="text-center">
                <button style="width:30%;" class="btn btn-dark TF_submit_btn" type="submit">Edit group</button>
            </div>

        }


    </div>

</div>