@{
    ViewBag.pageTitle = "Group list";
}

<div class="text-center">
    <h1>@ViewBag.pageTitle</h1>
</div>

<br />
<br />
<!--Search bar-->
<form method="GET">
    <div class="input-group mb-3">

        <input type="text" class="form-control"
               placeholder="Search topics or keywords" name="search"
               value="@ViewBag.SearchString">

        <button class="btn btn-outline-success"
                type="submit">
            Search
        </button>

    </div>
</form>

<a href="/Groups/New" class="btn btn-success">Add a new Group</a>
<br />
<br />

@if (User.IsInRole("User"))
{
    <a href="/Groups/ModeratedGroups" class="btn btn-success">Moderated Groups</a>
    <a href="/Groups/UnjoinedGroups" class="btn btn-success">Join a group</a>
    <br />
    <br />
}

@if (ViewBag.Message != null)
{
    <h2 class="alert-succes p-3 rounded-3 text-center mb-5">@ViewBag.Message</h2>
}

<!--Joined Groups page-->
@if (ViewBag.JoinedGroups != null)
{
    <h3>Your groups</h3>
    <br />

    @foreach (var group in ViewBag.JoinedGroups)
    {
        <div class="card">
            <div class="card-body">

                <h2>@group.Title</h2>
                <br>

                <p>@group.Description</p>
                <br>

                <div class="d-flex justify-content-between justify-content-end">


                    <a href="/Groups/Show/@group.Id" class="btn btn-success">See group</a>


                    @using (Html.BeginForm(actionName: "Leave",
                   controllerName: "Groups",
                   method: FormMethod.Post,
                   routeValues: new { id = group.Id }))
                    {
                        <button class="btn btn-danger" type="submit">Leave Group</button>
                    }

                </div>

            </div>
        </div>

        <br />
    }
}

<!--Admin page-->
@if (User.IsInRole("Admin"))
{
    @foreach (var group in ViewBag.AllGroups)
    {
        <div class="card">
            <div class="card-body">

                <h2>@group.Title</h2>
                <br>

                <p>@group.Description</p>
                <br>

                <div class="d-flex justify-content-between justify-content-end">

                    <a href="/Groups/Edit/@group.Id" class="btn btn-success">Edit group</a>
                    <a href="/Groups/Show/@group.Id" class="btn btn-success">See group</a>

                    @using (Html.BeginForm(actionName: "Delete",
                   controllerName: "Groups",
                   method: FormMethod.Post,
                   routeValues: new { id = group.Id }))
                    {
                        <button class="btn btn-danger" type="submit">Delete Group</button>
                    }

                </div>

            </div>
        </div>

        <br />
    }
}

<br />
<br />
@* Pagination *@
<div>
    <nav aria-label="Groups navigation">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link"
                   href="/Groups/Index?page=1" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            @for (int i = 1; i <= ViewBag.lastPage; i++)
            {
                <li class="page-item">
                    <a class="page-link"
                       href="/Groups/Index?page=@i">@(i)</a>
                </li>
            }

            <li class="page-item">
                <a class="page-link"
                   href="/Groups/Index?page=@(ViewBag.lastPage)" arialabel="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
