@{
    ViewBag.pageTitle = "Create a new group";
}

@model TalkFusion.Models.Group

<h1 class="text-center">@ViewBag.pageTitle</h1>

<br />
@Html.ValidationSummary(false, "", new { @class = "text-danger" })
<br />

<div class="card">

    <div class="card-body">

        @using (Html.BeginForm(actionName: "New",
        controllerName: "Groups",
        method: FormMethod.Post))
        {
            @Html.Label("Title","Group title")
            @Html.TextBox("Title",null,new {@class="form-control"})
            @Html.ValidationMessage("Title", null, new { @class = "text-danger" })


            <br />
            <br />

            @Html.Label("Description","Group description")
            @Html.TextArea("Description",null,new{@class="form-control"})
            @Html.ValidationMessage("Description", null, new { @class = "text-danger" })


            <br />
            <br />

            @Html.Label("Category","Choose group category")
            @Html.DropDownListFor(m=>m.CategoryId,
            new SelectList(Model.AllCategories, "Value", "Text"),
            "Select Category",
            new{@class="form-control"}
            )
            @Html.ValidationMessageFor(m => m.CategoryId, null, new { @class = "text-danger" })

            <br />
            <br />

            <div class="text-center">
                <button style="width:30%;" class="btn btn-success" type="submit">Create new group</button>
            </div>

        }


    </div>

</div>