@{
    ViewBag.PageName = "Show";
}

@model TalkFusion.Models.Group

<div class="container-show-group">

    <div class="Group">
        <!-- Group Info-->
        <h3 class="TF_text">@Model.Title</h3>
        <h4 class="TF_text">@Model.Category.CategoryName</h4>

        <!-- Add Channel Button appears only if the user is moderator-->
        @if (ViewBag.ShowButtons)
        {
            <button id="toggleButton" onclick="toggleForm()" class="btn btn-dark TF_submit_btn"><i class="bi bi-plus-circle"></i></button>
            <a href="/Users/GroupUserIndex/@Model.Id" type="submit" class="btn btn-dark TF_submit_btn"><i class="bi bi-people-fill"></i></a>

            <a href="/Users/JoinRequestIndex/@Model.Id" type="submit" class="btn btn-dark TF_submit_btn"><i class="bi bi-people"></i></a>
        }
    </div>

    <div class="Channel">
        <!-- Channel Info-->
        @if (ViewBag.Channel != null)
        {
            <h3>@ViewBag.Channel.Title</h3>
            <h4>@ViewBag.Channel.Description</h4>
        }
        else
        {
            <h3>Choose a Channel</h3>
        }
    </div>

    <div class="Channels" style="overflow-y: auto;">
        <br />
        <!-- Form New Channel -->
        <form method="post" action="/Groups/Show" id="toggle" style="display:none;">

            <div class="card-body">

                <input type="hidden" name="GroupId" value="@Model.Id" />

                <label>Channel Name:</label>
                <br />
                <textarea class="form-control" name="Title"></textarea>
                @Html.ValidationMessage("Title", null, new { @class = "text-danger"})
                <br />

                <label>Channel Description:</label>
                <br />
                <textarea class="form-control" name="Description"></textarea>
                @Html.ValidationMessage("Description", null, new { @class = "text-danger"})
                <br />
                <button class="btn btn-dark " type="submit">Add Channel</button>
            </div>
        </form>

        <!--Channel List-->
        @foreach (var channel in Model.Channels)
        {
            <div class="d-flex align-items-center mb-2">

                <!--See Channel-->
                <div class="mr-auto p-2">
                    <a class="btn btn-dark btn-lg active" href="/Groups/Show/@Model.Id/@channel.Id">@channel.Title</a>
                </div>

                @if (ViewBag.ShowButtons)
                {
                    <!--Edit Channel-->
                    <div class="p-2">
                        <a href="/Channels/Edit/@channel.Id" type="button" class="btn btn-dark"><i class="bi bi-pencil-square"></i></a>
                    </div>

                    <!--Delete Channel-->
                    <form method="post" action="/Channels/Delete/@channel.Id" class="p-2">
                        <button type="submit" class="btn btn-danger">
                            <i class="bi bi-trash3"></i>
                        </button>
                    </form>
                }
            </div>
        }
    </div>

    <div class="Comments" style=" overflow-y: auto; max-height: 85vh;">
        @if (ViewBag.Channel != null)
        {
            <!--See Comment-->
            @foreach (var comment in ViewBag.Comments)
            {
                @if (ViewBag.CurrentUser == comment.UserId)
                {
                    <div class="card text-white bg-dark mb-3" style="width: 50%;margin-left: auto;">
                        <div class="card-body">
                            <p>@comment.User.NickName</p>
                            <p class="card-title">@comment.Text</p>
                            @if (comment.File != null)
                            {
                                @if (comment.FileType == "image")
                                {
                                    <img src="@comment.File" width="320" height="auto">
                                }
                                else if (comment.FileType == "video")
                                {
                                    <video width="320" height="240" controls>
                                        <source src="@comment.File" type="video/mp4">
                                    </video>
                                }
                            }
                            <p>@comment.Date</p>

                            <!--Edit Comment-->

                            <div class="p-2">
                                <a href="/Comments/Edit/@comment.Id" type="button" class="btn btn-light"><i class="bi bi-pencil-square"></i></a>
                            </div>

                            <!--Delete Comment-->

                            <form method="post" action="/Comments/Delete/@comment.Id" class="p-2">
                                <button type="submit" class="btn btn-danger">
                                    <i class="bi bi-trash3"></i>
                                </button>
                            </form>

                        </div>
                    </div>
                }
                else
                {
                    <div class="card text-white bg-dark mb-3" style="width: 50%;margin-right: auto;">
                        <div class="card-body">
                            <p>@comment.User.NickName</p>
                            <p class="card-title">@comment.Text</p>
                            @if (comment.File != null)
                            {
                                @if (comment.FileType == "image")
                                {
                                    <img src="@comment.File" width="320" height="auto">
                                }
                                else if (comment.FileType == "video")
                                {
                                    <video width="320" height="240" controls>
                                        <source src="@comment.File" type="video/mp4">
                                    </video>
                                }
                            }
                            <p>@comment.Date</p>
                            
                            @if (ViewBag.ShowButtons)
                            {
                                <!--Delete Comment-->

                                <form method="post" action="/Comments/Delete/@comment.Id" class="p-2">
                                    <button type="submit" class="btn btn-danger">
                                        <i class="bi bi-trash3"></i>
                                    </button>
                                </form>
                            }
                        </div>
                    </div>
                }
            }

            <form enctype="multipart/form-data" method="post" asp-controller="Groups" asp-action="AddComment" class="mt-4">
                <input type="hidden" name="ChannelId" value="@ViewBag.Channel.Id" />

                <label for="comment">Add Comment:</label>
                <textarea class="form-control" name="Text" rows="4"></textarea>
                @Html.ValidationMessage("Text", null, new { @class = "text-danger"})
                <br />
                <input class="form-control" type="file" name="CommentFile"/>

                <button class="btn btn-dark" type="submit">Send</button>
            </form>
        }
    </div>

</div>

<script src="~/js/toggleform.js"></script>