@{
    ViewBag.pageTitle = "Join a group";
}

<div class="text-center">
    <h1 class="text-center TF_text">@ViewBag.pageTitle</h1>
</div>

<br />
<br />
<!--Search bar-->
<form method="GET">
    <div class="input-group mb-3">

        <input type="text" class="form-control TF_input_bar"
               placeholder="Search topics or keywords" name="search"
               value="@ViewBag.SearchString">

        <button class="btn btn-dark TF_submit_btn"
                type="submit">
            Search
        </button>

    </div>
</form>

<a href="/Groups/ModeratedGroups" class="btn btn-dark TF_submit_btn">Moderated Groups</a>
<a href="/Groups/Index" class="btn btn-dark TF_submit_btn">My Groups</a>
<br />
<br />

@if (ViewBag.UnjoinedGroups == null || User.IsInRole("Admin"))
{
    <h3 class="TF_text">There was no group found.</h3>
}
else
{
    @foreach (var group in ViewBag.UnjoinedGroups)
    {
        <div class="card">
            <div class="card-body border-dark bg-dark text-light">

                <h2 class="TF_text">@group.Title</h2>
                <br>

                <p class="TF_text">@group.Description</p>
                <br>

                <div class="d-flex justify-content-between justify-content-end">

                    @using (Html.BeginForm(actionName: "Join",
                    controllerName: "Groups",
                    method: FormMethod.Post,
                    routeValues: new { id = group.Id }))
                    {
                        <button class="btn btn-dark TF_submit_btn" type="submit">Join Group</button>
                    }


                </div>

            </div>
        </div>

        <br />
    }
}
<br />
<br />
@* Pagination *@
<div>
    <nav aria-label="Unjoined Groups navigation">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link TF_submit_btn"
                   href="/Groups/UnjoinedGroups?page=1" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            @for (int i = 1; i <= ViewBag.lastPage; i++)
            {
                <li class="page-item">
                    <a class="page-link TF_submit_btn"
                       href="/Groups/UnjoinedGroups?page=@i">@(i)</a>
                </li>
            }

            <li class="page-item">
                <a class="page-link TF_submit_btn"
                   href="/Groups/UnjoinedGroups?page=@(ViewBag.lastPage)" arialabel="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>

