
<br />
<br />

<div class="row">
    <!--Show users of the current group-->
    @foreach (var user in ViewBag.UsersList)
    {
        <div class="col-4 mb-4">
            <div class="card" style="height:100%; width: 100%;">

                <div class="card-body d-flex justify-content-between flex-column">
                    <div>

                        @if (@user.User.NickName != null)
                        {
                            <p><i class="bi bi-person"> </i> Nick Name: @user.User.NickName</p>
                        }

                        <p><i class="bi bi-envelope"></i> Email : @user.User.Email</p>

                        @if (@user.User.PhoneNumber != null)
                        {
                            <p><i class="bi bi-phone"></i> Phone Number: @user.User.PhoneNumber</p>
                        }

                        @if (@user.IsModerator == true)
                        {
                            <p>Role: Moderator</p>
                        }
                        else
                        {
                            <p>Role: Member</p>
                        }

                    </div>
                    <!--Kick/Promote/Demote buttons-->
                    <div class="d-flex flex-row justify-content-between p-3">

                        @if (user.UserId != ViewBag.CurrentUser)
                        {
                            <div> <a class="btn btn-dark" href="/Users/Kick/@user.UserId/@user.GroupId"> Kick </a> </div>

                            @if (@user.IsModerator == false)
                            {
                                <div> <a class="btn btn-dark" href="/Users/Promote/@user.UserId/@user.GroupId"> Promote </a> </div>
                            }
                            else
                            {
                                <div> <a class="btn btn-dark" href="/Users/Demote/@user.UserId/@user.GroupId"> Demote </a> </div>
                            }
                        }
                    </div>
                </div>

            </div>
        </div>
    }

</div>
<br />
<br />